@charset "UTF-8";
*, *::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #333333;
  position: relative;
}

:root {
  --color-primary:#7FC0C6;
  --color-white: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

dialog {
  border: none;
}

.img__fluid {
  max-width: 100%;
  height: auto;
}

.page__banner {
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 6/1;
  position: relative;
}

.page__title {
  font-size: 4rem;
  font-weight: 500;
  color: var(--color-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media (max-width: 768px) {
  .page__banner {
    min-height: 10rem;
  }
  .page__title {
    font-size: 2.2rem;
  }
}
.container {
  max-width: 1100px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}

@media (max-width: 767px) {
  .container {
    padding-inline: 10px;
    width: 100%;
  }
}
h2.heading__primary {
  font-size: 2.4rem;
  font-weight: 500;
  padding-left: 3rem;
  padding-top: 1.3rem;
  position: relative;
}
h2.heading__primary::after {
  position: absolute;
  content: "";
  top: 25px;
  left: -7px;
  width: 1.3rem;
  height: 35px;
  background-color: #5DB3B6;
  z-index: 2;
}
h2.heading__primary::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 0px;
  width: 1.3rem;
  height: 35px;
  background-color: #7FC0C6;
}

h2.heading__primary:has(span) span {
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  margin-right: 1.1rem;
  margin-bottom: -5px;
}
h2.heading__primary:has(span) span span {
  font-size: 2.4rem;
  font-weight: 700;
  display: block;
}

.text__general {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5714285714;
}

.text__general:not(.renovation__content .text__general) {
  margin-bottom: 3.5rem;
}

.common__notes {
  margin-left: 0.5rem;
}
.common__note {
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: 1.4rem;
  position: relative;
}
.common__note::before {
  position: absolute;
  content: "※";
  top: 0;
  left: 0;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

dialog {
  width: 50vw;
  height: 50%;
  margin: auto;
  background: linear-gradient(to right, #5DB6AF, #00CEFF);
  overflow-y: hidden;
  opacity: 0.95;
}

.dialog__wrapper {
  width: 70%;
  height: 70%;
  margin: auto;
  transform: translateY(30%);
  position: relative;
}

.service__model--close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: 0.3s ease-in-out;
}

.service__model--close:hover {
  filter: brightness(0.9);
}

.service__model--close div {
  display: contents;
}

.service__model--close div span {
  display: block;
  width: 3px;
  height: 60%;
  background-color: var(--color-primary);
  transform-origin: center;
}

.service__model--close div span:first-of-type {
  transform: rotate(45deg) translate(0px, -2px);
}

.service__model--close div span:last-of-type {
  transform: rotate(-45deg) translate(-1px, -3px);
}

@media (max-width: 768px) {
  h2.heading__primary {
    padding-left: 2rem;
    margin-left: 1rem;
    font-size: 2rem;
  }
  .text__general:not(.renovation__content .text__general) {
    margin-bottom: 2rem;
  }
}
.swiper {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-block: 4rem !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  /*   height: 300px; */
  position: relative;
}

.swiper-slide.display {
  display: block !important;
}

.swiper-slide::after {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  aspect-ratio: 1/1;
  background: linear-gradient(to bottom right, rgba(184, 184, 184, 0.5607843137), rgba(255, 255, 255, 0.368627451));
}

.swiper-slide-active::after {
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.swiper-slide > div {
  text-align: center;
  display: none;
  opacity: 0;
}

.swiper-slide-active div {
  display: block;
  opacity: 1;
  z-index: 9;
}

.swiper-slide h2 {
  font-size: 1.2rem;
  font-family: "Libre Baskerville", serif;
  color: #fff;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-slide-active h2::after {
  animation: line 0.5s linear forwards;
}

.swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.25);
  aspect-ratio: 1/1;
  animation-name: zoom;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@media (min-width: 768px) {
  .swiper-slide h2 {
    font-size: 2rem;
  }
}
/* Initially hide the previous and next slides */
.swiper-slide.swiper-slide-visible.swiper-slide-prev,
.swiper-slide.swiper-slide-visible.swiper-slide-next {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.swiper-slide-active {
  opacity: 1 !important;
}

/* Show the previous and next slides when hovering on navigation buttons */
.swiper-button-prev:hover + .swiper .swiper-slide-prev,
.swiper-button-next:hover + .swiper .swiper-slide-next {
  opacity: 1 !important;
  transition: opacity 1s ease;
}

/* Adjust arrow position */
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  transform: translateY(-40%);
  height: 60px;
  width: 60px;
  background: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
}

/* .swiper-button-prev,
.swiper-button-next {
  z-index: 99;
} */
.mySwiper [class^=swiper-button-]::after {
  content: "";
}

.mySwiper [class^=swiper-button-] {
  font-size: 20px;
  color: var(--color-primary);
}

.mySwiper {
  position: relative;
}

.mySwiper .swiper-button-next {
  right: 0;
}

.mySwiper .swiper-button-prev {
  left: 0;
}

.profile__row {
  display: flex;
  margin-top: 6rem;
  gap: 4.5rem;
}
.profile__col:first-of-type {
  max-width: 410px;
  width: 100%;
}
.profile__col {
  flex-grow: 1;
}
.profile__description {
  margin-top: 6rem;
}
.profile__table {
  margin-block: 6rem;
  width: 100%;
}
.profile__table td {
  font-size: 1.4rem;
  font-weight: 400;
  padding-block: 1.5rem;
  padding-left: 6rem;
  border-bottom: 1px solid #DFDFDF;
}
.profile__table th {
  font-size: 1.4rem;
  font-weight: 700;
  padding-block: 1.5rem;
  border-bottom: 4px solid var(--color-primary);
}

@media (max-width: 996px) {
  .profile__row {
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
  }
  .profile__col .heading__primary {
    margin-left: 2.5rem;
  }
  .profile__description {
    margin-top: 4rem;
  }
  .profile__table {
    margin-block: 3rem 6rem;
  }
}
@media (max-width: 768px) {
  .profile__row {
    flex-direction: column;
    gap: 2.4rem;
  }
  .profile__description {
    margin-top: 3rem;
  }
  .profile__table {
    margin-block: 1rem 15rem;
  }
  .profile__table th, .profile__table td {
    font-size: 1.2rem;
  }
}
.service__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3.4rem;
  margin-block: 6.2rem 10rem;
}
.service__type {
  width: calc(50% - 3.4rem);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;
}
.service__type:hover::before {
  width: 100%;
}
.service__type::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  transition: width 0.3s ease-in-out;
  background: linear-gradient(to right, #5DB6AF, #00CEFF);
  top: 0;
  left: 0;
  opacity: 0.2;
}
.service__button {
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
  padding-block: 2.4rem;
  text-align: center;
  position: relative;
}
.service__button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 50%;
  width: 1.3rem;
  background-color: var(--color-primary);
  z-index: 2;
}
.service__button::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 50%;
  width: 1.3rem;
  background-color: #C3E0DC;
  z-index: 2;
}
.service__triangle {
  position: absolute;
  top: 50%;
  right: 1.6rem;
  transform: translateY(-50%);
}

@media (max-width: 992px) {
  .service__type {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .service__wrapper {
    padding-inline: 1rem;
    margin-block: 6.2rem 15rem;
  }
  .service__type {
    width: 100%;
  }
  .service__button {
    font-size: 1.6rem;
  }
}
.construction__wrapper {
  margin-block: 6.5rem;
}
.construction__type {
  width: calc(33.3333333333% - 9.6rem);
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 30%;
  position: relative;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.card__tag {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.7rem 1.7rem;
  color: var(--color-white);
  background-color: var(--color-primary);
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4.8rem;
}
.card__footer {
  display: flex;
  flex-grow: 1;
}
.card__description {
  font-size: 1.4rem;
  font-weight: 400;
  max-width: 55%;
  line-height: 1.5;
  padding: 0.7rem 0.5rem 0.7rem 2.2rem;
  display: flex;
  align-items: center;
}
.card__more {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: var(--color-white);
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 1rem 3rem 1rem 1.3rem;
  position: relative;
  transition: 0.3s ease-in-out;
}
.card__more:hover {
  filter: brightness(0.9);
}
.card__triangle {
  position: absolute;
  height: 18px;
  width: 9px;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
}

@media (max-width: 1200px) {
  .construction__type {
    width: calc(50% - 2.4rem);
    max-width: unset;
  }
}
@media (max-width: 992px) {
  .construction__type {
    width: calc(50% - 2.4rem);
    max-width: unset;
  }
}
@media (max-width: 768px) {
  .construction__type {
    width: calc(50% - 2.4rem);
    max-width: unset;
  }
  .construction__wrapper {
    margin-block: 6.5rem 15rem;
  }
  .card__wrapper {
    gap: 2.8rem;
  }
  .card__more {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  .construction__type {
    width: 100%;
    max-width: 90%;
    margin-inline: auto;
  }
  .construction__type:not(:first-of-type) {
    margin-top: 2.4rem;
  }
}
.renovation__wrapper {
  margin-block: 6rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.renovation__type {
  display: flex;
  gap: 2.5rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.renovation__type img {
  max-width: 32rem;
  width: 100%;
}
.renovation__type:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.renovation__article {
  padding-block: 3rem;
}
.renovation__content {
  margin-top: 3.5rem;
}

@media (max-width: 992px) {
  .renovation__type {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .renovation__type {
    flex-direction: row;
    gap: 0.5rem;
  }
  .renovation__type img {
    max-width: 40%;
  }
  .renovation__article {
    padding-top: 0;
    padding-left: 1rem;
  }
  .renovation__wrapper {
    margin-block: 6.5rem 15rem;
  }
}
@media (max-width: 576px) {
  .renovation__type {
    flex-direction: column;
  }
  .renovation__type img {
    max-width: unset;
  }
}
.header {
  padding-block: 1rem;
  padding-right: 4.5rem;
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header__contacts {
  margin-left: auto;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 2rem;
}
.header__contact:not(:last-of-type) {
  padding: 1.1rem 2.4rem;
}
.header__contact {
  font-size: 2.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.header__contact:last-of-type {
  background-color: var(--color-white);
}
.header__contact .phone {
  display: flex;
  gap: 0.8rem;
  width: 3rem;
  height: 2.7rem;
}
.header__contact .phone__number {
  color: var(--color-white);
  margin-left: 0.7rem;
  display: inline-block;
}
.header__contact a {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 1.1rem 0.9rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.header__contact a .mail__icon {
  margin-right: 1.7rem;
}
.header__contact a .mail__info {
  font-size: 1.4rem;
  color: var(--color-primary);
}
.header__contact a:hover {
  filter: brightness(0.8);
}
.header__nav {
  display: none;
}
.header__links {
  display: none;
}

@media (max-width: 768px) {
  .header {
    height: 2vh;
  }
  .header__contacts {
    display: none;
  }
  .header__nav {
    background-color: var(--color-white);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
  }
  .header__nav img {
    width: 57px;
    height: 55px;
  }
  .header__links {
    width: 0%;
    height: calc(100vh - 25px);
    background-color: #fff;
    color: var(--color-primary);
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 25px;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .header__links .header__contact:nth-of-type(6) {
    display: none;
    background-color: var(--color-primary);
  }
  .header__links .header__contact:last-of-type {
    display: none;
    border: 1px solid var(--color-primary);
  }
  .header__links.is-open {
    width: 75%;
    visibility: visible;
  }
  .header__links.is-open .header__contact:nth-of-type(6) {
    animation-delay: 0.2s;
    display: block;
    background-color: var(--color-primary);
  }
  .header__links.is-open .header__contact:last-of-type {
    animation-delay: 0.3s;
    display: block;
    border: 1px solid var(--color-primary);
  }
  .hamburger {
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 7vw;
    z-index: 7;
  }
  .hamburger span {
    width: 30px;
    height: 2px;
    display: block;
    background-color: var(--color-primary);
    transition: transform 0.3s ease-in-out;
  }
  .hamburger span:last-of-type {
    margin-top: 1rem;
  }
  .hamburger.is-activ {
    animation: rotate-ham;
  }
  .hamburger.is-activ span:first-of-type {
    transform: rotate(45deg);
    transform-origin: bottom;
  }
  .hamburger.is-activ span:last-of-type {
    margin-top: 0 !important;
    transform: rotate(-45deg) translateX(2px);
    transform-origin: bottom;
  }
}
app {
  display: flex;
  margin-top: 70px;
}

.main {
  width: calc(100% - 22rem);
}

.aside {
  display: flex;
  flex-direction: column;
  max-width: 22rem;
  width: 100%;
  padding-bottom: 3rem;
  text-align: center;
  position: sticky;
  top: 70px;
  left: 0;
  background-color: var(--color-white);
  z-index: 6;
}
.aside__logo {
  max-width: 16.2rem;
  width: 100%;
  display: block;
  margin-inline: auto;
  margin-bottom: 3rem;
}
.aside__navbar {
  margin-inline: auto;
  font-size: 1.6rem;
  font-size: 500;
}
.aside__navbar .aside__navLinks {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}
.aside__navbar .aside__navLink {
  transition: 0.3s ease-in-out;
}
.aside__navbar .aside__navLink:hover {
  opacity: 0.5;
}
.aside__footer {
  margin-top: auto;
}
.aside__footer .aside__title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.aside__footer .aside__details {
  font-size: 1.1rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .aside {
    display: none;
  }
}
.main {
  flex-grow: 1;
}

.hero {
  width: 100%;
  height: 100%;
  background-image: url(./img/home/hero_pc.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero__description {
  font-size: 4rem;
  font-weight: 600;
  width: 100%;
  padding-block: 4.7rem;
  text-align: center;
  background: linear-gradient(to right, #5DB6AF, #00CEFF);
  color: var(--color-white);
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .hero {
    height: calc(100vh - 102px);
  }
  .hero__description {
    font-size: 2.6rem;
  }
}
footer {
  padding-block: 2rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  display: none;
}
footer span {
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  footer {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */