.container{
    max-width: 1100px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 15px;
}
@media (max-width: 767px) {
    .container {
      padding-inline: 10px; 
      width: 100%;
    }
  }

h2.heading__primary{
    font-size: 2.4rem;
    font-weight: 500;
    padding-left: 3rem;
    padding-top: 1.3rem;
    position: relative;

    &::after{
        position: absolute;
        content: '';
        top: 25px;
        left:-7px;
        width:1.3rem;
        height: 35px;
        background-color: #5DB3B6;
        z-index: 2;
    }

    &::before{
        position: absolute;
        content: '';
        top: 13px;
        left:0px;
        width:1.3rem;
        height: 35px;
        background-color: #7FC0C6; 
    }
}

h2.heading__primary:has(span){
    span{
        font-size: 1rem;
        font-weight: 400;
        display: inline-block;
        margin-right: 1.1rem;
        margin-bottom: -5px;
        span{
            font-size: 2.4rem;
            font-weight: 700;
            display: block;
        }
    }
}

.text__general{
    font-size: 14px;
    font-weight: 500;
    line-height: calc(22 / 14);
}

.text__general:not(.renovation__content .text__general){
    margin-bottom: 3.5rem;
}

.common{
    &__notes{
        margin-left: 0.5rem;
    }
    &__note{
        font-size: 1.4rem;
        font-weight: 500;
        padding-left: 1.4rem;
        position: relative;

        &::before{
            position: absolute;
            content: '※';
            top: 0;
            left: 0;
        }
    }
}
dialog::backdrop{
    background-color: rgba(0, 0 , 0 ,0.3);
}
dialog{
    width: 50vw;
    height: 50%;
    margin: auto;
    background: linear-gradient(to right , #5DB6AF , #00CEFF);
    overflow-y: hidden;
    opacity: 0.95;
}

.dialog__wrapper{
    width: 70%;
    height: 70%;
    margin: auto;
    transform:translateY(30%) ;
    position: relative;
    
}
.service__model--close{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: 0.3s ease-in-out;
}
.service__model--close:hover{
    filter: brightness(0.9);
}
.service__model--close div{
    display: contents;
}
.service__model--close div span{
    display: block  ;
    width: 3px;
    height: 60%;
    background-color: var(--color-primary);
    transform-origin: center;
}
.service__model--close div span:first-of-type{
    transform: rotate(45deg) translate(0px , -2px);
}
.service__model--close div span:last-of-type{
    transform: rotate(-45deg) translate(-1px , -3px);
}


@media (max-width:768px){
    h2.heading__primary{
        padding-left: 2rem;
        margin-left: 1rem;
        font-size: 2rem;
    }
    .text__general:not(.renovation__content .text__general){
        margin-bottom: 2rem;
    }
}

// swiper

.swiper {
    // max-width: 50%;
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-block: 4rem !important;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    // display: none !important;
    width: 200px;
    /*   height: 300px; */
    position: relative;
  }

  .swiper-slide.display{
    display: block !important;
  }
  
  .swiper-slide::after {
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    aspect-ratio: 1/1;
    // border-radius: 50%;
    background: linear-gradient(to bottom right, #b8b8b88f, #ffffff5e);
  }
  .swiper-slide-active::after {
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }
  .swiper-slide > div {
    text-align: center;
    display: none;
    opacity: 0;
  }
  .swiper-slide-active div {
    display: block;
    opacity: 1;
    z-index: 9;
  }
  
  .swiper-slide h2 {
    font-size: 1.2rem;
    font-family: "Libre Baskerville", serif;
    color: #fff;
  }
  
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .swiper-slide-active h2::after {
    animation: line 0.5s linear forwards;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 60px rgb(0 0 0 / 25%);
    // border-radius: 50%;
    aspect-ratio: 1/1;
    animation-name: zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }
  
  @media (min-width: 768px) {
    .swiper-slide h2 {
      font-size: 2rem;
    }
  }
  /* Initially hide the previous and next slides */
//   .swiper-slide-visible,
//   .swiper-slide {
//     opacity: 0 !important;
//   }
  .swiper-slide.swiper-slide-visible.swiper-slide-prev,
  .swiper-slide.swiper-slide-visible.swiper-slide-next {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .swiper-slide-active {
    opacity: 1 !important;
  }
  /* Show the previous and next slides when hovering on navigation buttons */
  .swiper-button-prev:hover + .swiper .swiper-slide-prev,
  .swiper-button-next:hover + .swiper .swiper-slide-next {
    opacity: 1 !important;
    transition: opacity 1s ease;
  }
  
  /* Adjust arrow position */
  .mySwiper .swiper-button-next,
  .mySwiper .swiper-button-prev {
    transform: translateY(-40%);
    height: 60px;
    width: 60px;
    background: #fff;
    border: 5px solid #fff;
    border-radius: 50%;
  }
  
  /* .swiper-button-prev,
  .swiper-button-next {
    z-index: 99;
  } */
  
  .mySwiper [class^="swiper-button-"]::after {
    content: "";
  }
  .mySwiper [class^="swiper-button-"] {
    font-size: 20px;
    color: var(--color-primary);
  }
  .mySwiper {
    position: relative;
  }
  
  .mySwiper .swiper-button-next {
    right: 0;
  }
  .mySwiper .swiper-button-prev {
    left: 0;
  }

// .swiper {
//     width: 100%;
//     height: 100%;
//   }

//   .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #fff;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
  